:root {
    --max-width-mobile: 600px;
    --max-width-desktop: 1170px;
    --main-red: #ce2e2a;
    --main-font-color: #333333;
    --alt-font-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea,
select {
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: var(--main-font-color);
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    hyphens: auto;
}

button {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

i:not(.top__icon),
.layout__icon {
    /* naprawić to!!! nadać osobne klasy layout__icon */
    font-style: normal;
    font-size: 1.5em;
    cursor: pointer;
}

i:hover {
    color: var(--main-red);
}


/* to też naprawić, zamienić befory na i */

i:hover::before,
.layout__icon:hover {
    color: var(--main-red);
}

header {
    position: relative;
    background: #eaeaea url(../gfx/header_background.png);
}

@media (min-width: 950px) {
    header {
        display: block;
        position: static;
        height: 228px;
    }
}

.top {
    display: none;
}

@media (min-width: 950px) {
    .top {
        display: block;
        height: 37px;
        font-size: 11px;
        color: var(--alt-font-color);
        background: #333333;
    }
    .top__container {
        max-width: var(--max-width-desktop);
        height: 100%;
        margin: auto;
    }
    .top__container>div {
        display: inline;
        line-height: 34px;
        margin: 5px 11px;
    }
    .top__icon {
        color: var(--main-red);
        margin: 5px;
    }
    .top__anchor {
        color: var(--alt-font-color);
    }
    .top__anchor:hover {
        color: var(--main-red);
    }
    .top__tel-name::after,
    .top__mail-name::after {
        content: ':';
    }
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width-desktop);
    margin: 0 auto;
}

@media (min-width: 950px) {
    .main-container {
        display: flex;
        height: 92px;
    }
}

.logo {
    height: 40px;
    padding: 10px;
}

.logo__pic {
    max-width: 100%;
}

form {
    padding: 10px;
}

.search__container {
    display: none;
}

.search__submit {
    display: none;
}

@media (max-width:950px) {
    .search__container--active {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: auto;
        height: 67px;
        padding: 7px 10px;
        display: flex;
        justify-content: space-between;
        background: #ffffff;
    }
}

.search__input {
    height: 46px;
    width: 100%;
    padding: 0;
}

.search__input[type='text'] {
    padding-left: 11px;
}

@media (min-width: 950px) {
    .search__icon--mobile {
        display: none;
    }
    .search__container {
        display: flex;
        align-items: center;
        width: 300px;
    }
    .search__input {
        border: none;
    }
    .search__close-container {
        display: none;
    }
    .search__submit {
        display: block;
        width: 46px;
        height: 46px;
        border: none;
        background: var(--main-font-color);
        font-size: 0.7em;
        text-align: center;
    }
    .search__icon {
        color: #ffffff;
    }
}

.search__close-container {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background: #818181;
    cursor: pointer;
}

.search__close-icon {
    line-height: 48px;
}

.search>button {
    display: none;
}

.login-desktop {
    display: none;
}

@media (min-width: 950px) {
    .login-desktop {
        display: flex;
        align-items: center;
        margin-right: 18px;
    }
    .login-desktop__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .login-dekstop__flag {
        width: 20px;
        height: 12px;
        border: 1px solid var(--main-font-color);
        margin-right: 5px;
        background: url("../gfx/flag_pl.png");
    }
    .login-desktop__account {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .login-desktop__account:hover {
        color: var(--main-red);
    }
}

@media (max-width: 950px) {
    .basket {
        padding: 10px;
    }
    .basket__container {
        display: none;
    }
}

@media (min-width: 950px) {
    .basket {
        position: relative;
        margin-right: 15px;
    }
    .basket::before {
        position: absolute;
        content: '';
        top: -60px;
        right: -15px;
        width: 185px;
        height: 156px;
        z-index: 1;
        background: url(../gfx/basket_background.png);
    }
    .basket__container {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 150px;
        z-index: 2;
    }
    .basket__icon {
        display: none;
    }
    .basket__pic-container {
        position: relative;
    }
    .basket__dot {
        position: absolute;
        bottom: 80%;
        left: 60%;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        padding: 5px;
        background: #ffffff;
        line-height: 11px;
        text-align: center;
        font-size: 11px;
        color: var(--main-red);
    }
    .basket__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        color: var(--alt-font-color);
        cursor: pointer;
    }
    .basket__your-basket {
        font-size: 11px;
        text-transform: uppercase;
    }
    .basket__basket-value {
        font-size: 1.25em;
    }
}

.hamburger {
    padding: 10px;
}

@media (min-width: 950px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 950px) {
    .navigation-mobile {
        position: absolute;
        top: 100%;
        transform: translateX(-250px);
        width: 250px;
        height: 100vh;
        box-sizing: border-box;
        height: auto;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        opacity: 0;
    }
    .navigation-mobile.open {
        transform: translateX(0px);
        opacity: 1;
    }
    .navigation-mobile>ul>li {
        width: 100%;
        box-sizing: border-box;
        border-style: solid;
        border-width: 1px 0px 0px 0px;
    }
    .navigation-mobile>ul>li:last-of-type {
        border-width: 1px 0px 0px 0px;
    }
    .menu1>li>button {
        background: #dbdbdb;
    }
    .lvl1>button:hover {
        background: #eaeaea;
    }
}

li>button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-align: left;
    background: #bebebe;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.collapsible>li>button:hover {
    background: #eaeaea;
}

.menu1>li:first-of-type {
    border: none;
}

.collapisble_icon::after,
.question__arrow-icon {
    content: "\f107";
    font-family: FontAwesome;
    color: #333333;
    float: right;
    transition: all 0.4s;
}

.collapisble_icon.rotated::after,
.question__arrow-icon--rotated {
    transform: rotate(-180deg);
    color: var(--main-red);
}

.collapsible {
    display: none;
}

.polski {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 12px;
    border-style: solid;
    border-width: 1px;
    background: url("../gfx/flag_pl.png");
}

@media (min-width: 950px) {
    .navigation-mobile {
        height: 62px;
        background: #ffffff;
    }
    .menu1 {
        display: flex;
        align-content: center;
        margin: 0 auto;
        max-width: var(--max-width-desktop);
        height: 100%;
    }
    li.lvl1 {
        margin-left: 11px;
    }
    button.lvl1 {
        height: 100%;
        padding: 0 5px;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
    }
    button.lvl1:hover {
        border-bottom: 2px solid var(--main-red);
    }
    button.lvl1>a,
    button.lvl1>i::after {
        margin-right: 11px;
    }
    .lvl1 {
        width: auto;
        font-size: 13px;
        font-weight: bold;
        background: #ffffff;
    }
    .collapsible {
        position: absolute;
        width: 250px;
        z-index: 1;
    }
    button.lvl2 {
        width: 100%;
        background: #eaeaea;
    }
    .menu2 {
        display: none;
    }
}

.breadcrumbs {
    display: none;
}

@media (min-width: 950px) {
    .breadcrumbs {
        display: block;
        height: 38px;
    }
    .breadcrumbs__container {
        max-width: var(--max-width-desktop);
        margin: auto;
    }
    .breadcrumbs__list {
        margin: 0 11px;
        line-height: 38px;
    }
    .breadcrumbs__item {
        display: inline;
    }
    .breadcrumbs__name:hover {
        color: var(--main-red);
    }
    .breadcrumbs__item::after {
        content: '>>';
    }
    .breadcrumbs__item--active {
        font-weight: bold;
    }
    .breadcrumbs__item--active::after {
        content: none;
    }
}

.layout {
    padding: 0 11px;
    transition: all 1s ease;
}

.layout.open {
    opacity: 0.2;
}

.gallery {
    display: none;
}

.gallery_mobile {
    position: relative;
    max-width: var(--max-width-mobile);
    margin: 15px auto;
    z-index: 0;
}

.pics>div>img {
    width: 80%;
    margin: auto;
    display: none;
}

#product_pic_active {
    display: block;
}

.lt_icon::before {
    content: "\F104";
    font-family: FontAwesome;
    color: #333333;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 0em;
    cursor: pointer;
}

.gt_icon::before {
    content: "\F105";
    font-family: FontAwesome;
    color: #333333;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    right: 0em;
    cursor: pointer;
}

.bullets {
    text-align: center;
}

.dot {
    background-color: #bebebe;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 1em;
    width: 1em;
    margin: 0 2px;
    cursor: pointer;
}

.dot_active,
.dot:hover {
    background-color: #333333;
}

.product_info,
.hotspot,
.projector2,
.projector3,
footer {
    max-width: var(--max-width-mobile);
    margin: auto;
}

.product_info .product_name {
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
}

.product_versions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
}

.product_versions_header {
    text-transform: uppercase;
    font-size: 14px;
}

.product_versions>div {
    box-sizing: border-box;
    margin: 6px;
    height: 55px;
    flex: 10%;
    line-height: 50px;
    text-align: center;
    border: solid 1px #bebebe;
}

.product_versions>div.active {
    border: double 3px;
    border-radius: 5px;
}

.product_versions>div:hover {
    border-color: var(--main-red);
}

.product_versions>div>a {
    vertical-align: middle;
}

.product_versions>div>a>img {
    vertical-align: middle;
}

label {
    text-transform: uppercase;
}

select {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    background: linear-gradient(to bottom, #dbdbdb 0%, #bebebe 100%);
    cursor: pointer;
}

.price_box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.price_box::after,
.price_box::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #bebebe;
}

.old_price_cont {
    text-align: right;
    line-height: 22px;
}

.old_price {
    color: #818181;
}

.price {
    flex-grow: 2;
    color: var(--main-red);
    font-size: 2.5em;
}

.red-button {
    width: 100%;
    height: 47.5px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background: url(../gfx/add_to_basket_background.png);
}

.red-button:hover {
    background: #000000;
}

.benefits_cont {
    margin: 5px 0 5px 0;
    background: #eaeaea;
}

.benefits {
    display: flex;
    flex-flow: wrap column;
    align-items: stretch;
}

.benefit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.benefit:hover {
    background: #ffffff;
}

.benefit>img {
    padding: 11px;
    height: 30px;
    width: 30px;
}

.benefit>div {
    display: flex;
    flex-flow: wrap column;
    text-align: left;
    margin: 7px 5px 7px 5px;
}

.benefit b {
    text-transform: uppercase;
}

.benefit a {
    color: var(--main-red);
    text-transform: uppercase;
}

.benefit a:hover {
    color: #333333;
}

.hotspot__name,
.description__name,
.dictionary__name,
.hints__name {
    height: 32px;
    padding: 5px 0 5px 0;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.arrow-icon__icon {
    display: inline-block;
    vertical-align: middle;
    /* środkuje img w spanie (inline_block + vertical-align */
}

.item img {
    height: 80px;
    width: 80px;
}

.hotspot_carousel {
    display: flex;
    margin: auto;
    /* centruje div w divie */
    justify-content: center;
    align-items: center;
}

.hotspot_carousel i {
    padding: 11px;
    font-size: 1.5em;
}

.items {
    position: relative;
}

.hotspot_carousel .item {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
    opacity: 0;
    transition: all 2s ease;
    cursor: pointer;
}

.hotspot_carousel .item.active {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.item img {
    padding: 11px 11px 11px 0;
}

.info_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.product_price {
    margin: 0;
    color: var(--main-red)
}

.description__text {
    padding: 5px 0 5px 0;
}

.questions__name {
    padding: 5px 0 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.questions__question-title {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    font-weight: bold;
    cursor: pointer;
}

.questions__question-title:hover {
    color: var(--main-red);
}

.questions__question-text {
    padding: 5px 0 5px 0;
}

.questions__custom-question {
    padding: 5px 0 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.dictionary__name:hover {
    cursor: pointer;
}

.params {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

.params--hidden {
    display: none;
}

.params__parameter:nth-child(odd) {
    background: #eaeaea;
}

.params__parameter {
    display: flex;
    justify-content: left;
}

.params__parameter:hover {
    background: #dbdbdb;
}

.params__parameter-name {
    width: 50%;
    max-width: 373px;
    padding: 0 5px 0 5px;
}

.params__parameter-name::after {
    content: ':';
}

.params__parameter-value {
    width: 50%;
    margin: auto 0 auto 5px;
    padding: 0 5px 0 5px;
    /* centruje anchor linka pionowo */
    font-weight: bold;
}

.params__parameter-value:hover {
    color: var(--main-red);
}

.separator {
    content: '';
    width: 100%;
    height: 1px;
    margin: 5px 0 5px 0;
    background: #bebebe;
}

.separator-vertical {
    content: '';
    width: 1px;
    height: 20px;
    margin: 0 5px;
    background: #bebebe;
}

.hints__hint {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hints__hint-title {
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 0;
}

.hints__hint-pic {
    margin: 5px auto;
}

.hints__hint-text {
    margin: 5px 0;
    padding: 5px 0;
}

.bottom {
    width: 100%;
}

.bottom__background {
    display: none;
    margin: auto;
}

.bottom__idosell-logo {
    display: block;
    margin: 5px auto;
    padding: 5px 0;
}