:root {
    --max-width-mobile: 600px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #333333;
    background: #ffffff;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    hyphens: auto;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaeaea url(../gfx/header_background.png);
}

a {
    text-decoration: none;
    color: #333333;
}

.top {
    display: none;
}

.logo {
    padding: 10px;
}

.logo__pic {
    max-width: 100%;
}

i {
    font-style: normal;
    font-size: 1.5em;
    cursor: pointer;
}

i:hover {
    color: #ce2e2a;
}

i:hover::before {
    color: #ce2e2a;
}

form {
    padding: 10px;
}

.search__icon::before {
    content: "\f002";
    font-family: FontAwesome;
    color: #333333;
}

.search__container {
    display: none;
}

.search__container--active {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 67px;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}

.search__input {
    height: 46px;
    width: 100%;
    padding: 0;
}

.search__close-container {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background: #818181;
    cursor: pointer;
}

.close-icon::before {
    content: "\f00d";
    font-family: FontAwesome;
    text-decoration: none;
    color: #ffffff;
}

.search>button {
    display: none;
}

.basket {
    padding: 10px;
}

.basket__icon::before {
    content: "\F07A";
    font-family: FontAwesome;
    text-decoration: none;
    color: #333333;
}

.basket__icon:hover::before {
    color: #ce2e2a;
}

.hamburger {
    padding: 10px;
}

.hamburger__icon::before {
    content: "\f0c9";
    font-family: FontAwesome;
    color: #333333;
}

.login-desktop {
    display: none;
}

.breadcrumbs {
    display: none;
}

.nav_desktop {
    display: none;
}

.navigation-mobile {
    position: absolute;
    top: 100%;
    transform: translateX(-250px);
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    height: auto;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    opacity: 0;
}

.navigation-mobile.open {
    transform: translateX(0px);
    opacity: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-mobile>ul>li {
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.lvl1>button:hover {
    background: #eaeaea;
}

.collapsible>li>button:hover {
    background: #eaeaea;
}

.menu1>li:first-of-type {
    border: none;
}

.navigation-mobile>ul>li:last-of-type {
    border-width: 1px 0px 0px 0px;
}

.menu1>li>button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-align: left;
    background: #dbdbdb;
}

.collapisble_icon::after,
.question__arrow-icon {
    content: "\f107";
    font-family: FontAwesome;
    color: #333333;
    float: right;
    transition: all 0.4s;
}

.collapisble_icon.rotated::after,
.question__arrow-icon--rotated {
    transform: rotate(-180deg);
    color: #ce2e2a;
}

li>button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-align: left;
    background: #bebebe;
}

.collapsible {
    display: none;
}

.polski {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 12px;
    border-style: solid;
    border-width: 1px;
    background: url("../gfx/flag_pl.png");
}

.layout {
    padding: 0 11px 0 11px;
    transition: all 1s ease;
}

.layout.open {
    opacity: 0.2;
}

.gallery {
    display: none;
}

.gallery_mobile {
    position: relative;
    max-width: var(--max-width-mobile);
    margin: 15px auto 11px auto;
    z-index: 0;
}

.pics>div>img {
    width: 80%;
    margin: auto;
    display: none;
}

#product_pic_active {
    display: block;
}

.lt_icon::before {
    content: "\F104";
    font-family: FontAwesome;
    color: #333333;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 0em;
    cursor: pointer;
}

.gt_icon::before {
    content: "\F105";
    font-family: FontAwesome;
    color: #333333;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    right: 0em;
    cursor: pointer;
}

.bullets {
    text-align: center;
}

.dot {
    background-color: #bebebe;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 1em;
    width: 1em;
    margin: 0 2px;
    cursor: pointer;
}

.dot_active,
.dot:hover {
    background-color: #333333;
}

.product_info,
.hotspot,
.projector2,
.projector3,
footer {
    max-width: var(--max-width-mobile);
    margin: auto;
}

.product_info .product_name {
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
}

.product_versions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
}

.product_versions_header {
    text-transform: uppercase;
    font-size: 14px;
}

.product_versions>div {
    box-sizing: border-box;
    margin: 6px;
    height: 55px;
    flex: 10%;
    line-height: 50px;
    text-align: center;
    border: solid 1px #bebebe;
}

.product_versions>div.active {
    border: double 3px;
    border-radius: 5px;
}

.product_versions>div:hover {
    border-color: #ce2e2a;
}

.product_versions>div>a {
    vertical-align: middle;
}

.product_versions>div>a>img {
    vertical-align: middle;
}

label {
    text-transform: uppercase;
}

select {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    background: linear-gradient(to bottom, #dbdbdb 0%, #bebebe 100%);
    cursor: pointer;
}

.price_box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.price_box::after,
.price_box::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #bebebe;
}

.old_price_cont {
    text-align: right;
    line-height: 22px;
}

.old_price {
    color: #818181;
}

.price {
    flex-grow: 2;
    color: #ce2e2a;
    font-size: 2.5em;
}

.red-button {
    width: 100%;
    height: 47.5px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background: url(../gfx/add_to_basket_background.png);
}

.red-button:hover {
    background: #000000;
}

.benefits_cont {
    margin: 5px 0 5px 0;
    background: #eaeaea;
}

.benefits {
    display: flex;
    flex-flow: wrap column;
    align-items: stretch;
}

.benefit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.benefit:hover {
    background: #ffffff;
}

.benefit>img {
    padding: 11px;
    height: 30px;
    width: 30px;
}

.benefit>div {
    display: flex;
    flex-flow: wrap column;
    text-align: left;
    margin: 7px 5px 7px 5px;
}

.benefit b {
    text-transform: uppercase;
}

.benefit a {
    color: #ce2e2a;
    text-transform: uppercase;
}

.benefit a:hover {
    color: #333333;
}

.hotspot__name,
.description__name,
.dictionary__name,
.hints__name {
    height: 32px;
    padding: 5px 0 5px 0;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.arrow-icon__icon {
    display: inline-block;
    vertical-align: middle;
    /* środkuje img w spanie (inline_block + vertical-align */
}

.item img {
    height: 80px;
    width: 80px;
}

.hotspot_carousel {
    display: flex;
    margin: auto;
    /* centruje div w divie */
    justify-content: center;
    align-items: center;
}

.hotspot_carousel i {
    padding: 11px;
    font-size: 1.5em;
}

.items {
    position: relative;
}

.hotspot_carousel .item {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
    opacity: 0;
    transition: all 2s ease;
    cursor: pointer;
}

.hotspot_carousel .item.active {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.item img {
    padding: 11px 11px 11px 0;
}

.info_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.product_price {
    margin: 0;
    color: #ce2e2a
}

.description__text {
    padding: 5px 0 5px 0;
}

.questions__name {
    padding: 5px 0 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.questions__question-title {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    font-weight: bold;
    cursor: pointer;
}

.questions__question-title:hover {
    color: #ce2e2a;
}

.questions__question-text {
    padding: 5px 0 5px 0;
}

.questions__custom-question {
    padding: 5px 0 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.dictionary__name:hover {
    cursor: pointer;
}

.params {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

.params--hidden {
    display: none;
}

.params__parameter:nth-child(odd) {
    background: #eaeaea;
}

.params__parameter {
    display: flex;
    justify-content: left;
}

.params__parameter:hover {
    background: #dbdbdb;
}

.params__parameter-name {
    width: 50%;
    max-width: 373px;
    padding: 0 5px 0 5px;
}

.params__parameter-name::after {
    content: ':';
}

.params__parameter-value {
    width: 50%;
    margin: auto 0 auto 5px;
    padding: 0 5px 0 5px;
    /* centruje anchor linka pionowo */
    font-weight: bold;
}

.params__parameter-value:hover {
    color: #ce2e2a;
}

.separator {
    content: "";
    width: 100%;
    height: 1px;
    margin: 5px 0 5px 0;
    background: #bebebe;
}

.hints__hint {
    display: flex;
    flex-direction: column;
}

.hints__hint-title {
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 0;
}

.hints__hint-pic {
    margin: 5px auto;
}

.hints__hint-text {
    margin: 5px 0;
    padding: 5px 0;
}

.bottom {
    width: 100%;
}

.bottom__background {
    display: none;
    margin: auto;
}

.bottom__idosell-logo {
    display: block;
    margin: 5px auto;
    padding: 5px 0;
}